<div class="text-center">
  <div class="container col-5 my-3 mx-auto text-left">


    <h1>User info</h1>


    <div>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= I18n.t("errors.messages.not_saved",
                       count: @user.errors.count,
                       resource: @user.class.model_name.human.downcase)
             %>
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>



    <%= form_with model:@user do |f| %>

      <p>Name</p>
      <p><%= f.text_field :name, autofocus: true %></p>

      <p>Image</p>
      <p><%= f.file_field :image %></p>

      <p>Introduction</p>
      <p><%= f.text_area :introduction, autofocus: true %></p>

      <p><%= f.submit "Update User", class: "btn btn-secondary text-white"  %></p>

    <% end %>
    
    <!--%= link_to "destroy", user_path(@user), method: :delete %>-->

    
  </div>
</div>
