<h1>User info</h1>


<% if @user.errors.any? %>
  <%= @user.errors.messages %>
  <% @user.errors.full_messages.each do |m| %>
  <ul>
    <li>
      <%= m %>
    </li>
  </ul>
  <% end %>
<% end%>



<%= form_with model:@user do |f| %>

  <p>Name</p>
  <p><%= f.text_field :name, autofocus: true %></p>

  <p>Image</p>
  <p><%= f.file_field :image %></p>

  <p>Introduction</p>
  <p><%= f.text_area :body, autofocus: true %></p>

  <p><%= f.submit "Update User" %></p>

<% end %>
