<h1>User info</h1>

<%= form_with model:@user do |f| %>
  <p>
    <%= f.text_field :name, autofocus: true, placeholder: "Name" %>
  </p>

  <p>
    <%= f.file_field :image, placeholder: "Image" %>
  </p>

  <p>
    <%= f.text_area :body, placeholder: "Introduction" %>
  </p>

  <p>
    <%= f.submit "Update User" %>
  </p>

<% end %>
