<div>
  <%= flash[:notice] %>
</div>

<div>
  <% if @book.errors.any? %>
    <%= "#{@book.errors} errors prohibited this obj from being saved:" %>
    <ul>
      <% @book.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  <% end %>
</div>



<div class="container">
  <div class="d-flex">

    <%= render 'list', book: @book, user: @user %>




    <div class="row">
      <div class="col">
        <h2 class="border-bottom">Books</h2>

        <div class="col">
          <table>
            <tr class="border-bottom border-secondary">
              <th class="px-3"></th>
              <th class="px-3">Title</th>
              <th class="px-3">Opinion</th>
            </tr>

            <% @books.each do |book| %>
              <tr class="my-2 border-bottom">
                <td class="p-3">
                  <%= link_to user_path(book.user.id) do %>
                    <%= image_tag book.user.get_image(80, 80) %>
                  <% end %>
                </td>

                <td align="left" valign="top" class="px-3">
                  <%= link_to book.title, book_path(book.id) %>
                </td>

                <td align="left" valign="top" class="px-3">
                  <%= book.body %>
                </td>
              </tr>

             <% end %>

          </table>

        </div>

      </div>
    </div>

  </div>

</div>