<% if @book.errors.any? %>
  <%= "#{@book.errors} errors prohibited this obj from being saved:" %>
    <ul>
      <% @book.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
<% end %>



<h1>User info</h1>

<%= image_tag @user.get_image(100, 100) %>
<span><strong>name</strong></span>
<p><%= @user.name %></p>

<p><strong>intoduction</strong></p>
<%= @user.body %>
<%= link_to edit_user_path(@user) do %>
  <i class="fas fa-user-cog"></i>
<% end %>



<h1>New book</h1>

<%= form_with model:@book do |f| %>
  <p>Title</p>
  <p><%= f.text_field :title %></p>

  <p>Opinion</p>
  <p><%= f.text_area :body %></p>

  <p><%= f.submit "Create book" %></p>

<% end %>