<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Bookers</h1>
      <% if user_signed_in? %>

        <ul>
          <li>
            <%= link_to books_path do %>
              <span><i class="fas fa-home"></i> Home</span>
            <% end %>
          </li>

          <li>
            <%= link_to books_path do %>
              <span><i class="fas fa-users"></i> Users</span>
            <% end %>
          </li>

          <li>
            <%= link_to books_path do %>
              <span><i class="fas fa-book-open"></i> Books</span>
            <% end %>
          </li>

          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span><i class="fas fa-sign-out-alt"></i> Log out</span>
            <% end %>
          </li>

      <% else %>

          <li>
            <%= link_to root_path do %>
              <span><i class="fas fa-home"></i> Home</span>
            <% end %>
          </li>

          <li>
            <%= link_to 'home/about' do %>
              <span><i class="fas fa-link"></i> About</span>
            <% end %>
          </li>

          <li>
            <%= link_to new_user_registration_path do %>
              <span><i class="fas fa-user-plus"></i> Sign up</span>
            <% end %>
          </li>

          <li>
            <%= link_to new_user_session_path do %>
              <span><i class="fas fa-sign-in-alt"></i> Log in</span>
            <% end %>
          </li>


        </ul>

      <% end %>


      <p>----------------------</p>
    </header>

    <main>
      <%= yield %>

    </main>

    <footer>
      <p>----------------------</p>
      <p>CopyRight Infratop.inc</p>
    </footer>



  </body>
</html>
